<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Lembar Disposisi</title>

	<!-- Custom fonts for this template-->
	<link href="https://eblkkediri.id/assets/vendor/sbadmin2/fontawesome-free/css/all.min.css" rel="stylesheet"
		type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="https://eblkkediri.id/assets/css/sb-admin-2.min.css" rel="stylesheet">
	<link href="https://eblkkediri.id/assets/css/admin/style.css" rel="stylesheet">

	<script src="https://eblkkediri.id/assets/vendor/sbadmin2/jquery/jquery.min.js"></script>

	<link rel="icon" href="https://eblkkediri.id/assets/img/eblkicon.png">

	<style>
		.waBtnSiswa {
			color: rgb(37, 211, 102);
		}

	</style>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- set area waktu ke indonesia untuk tanggalan -->
		<style>
			@media print {
				#print {
					display: none;
				}
			}

			/*.table-data th,.table-data tr,.table-data td {*/
			/*    border:3px solid black;*/
			/*}*/

		</style>

		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<button id="print" onclick="window.print()" class="btn btn-primary mb-1 mt-1"><i
					class="fas fa-print"></i>print</button>


			<table class="tabel-data table text-dark">
				<tr class="text-center">
					<th style="border:1px solid black" class="text-center" width="50%"><h1 class="font-weight-bold">LEMBAR DISPOSISI</h1></th>
					<th  style="border:1px solid black" class="text-left " width="50%">Kode/<br>Indeks</th>
				</tr>
				<tr>
					<td colspan="2" style="border:1px solid black" class="text-left" width="100%">Pengirim :</td>
				</tr>
				<tr>
					<td style="border:1px solid black" class="text-left">Tgl. Terima :</td>
					<td style="border:1px solid black" class="text-left">Tgl. diproses :</td>
				</tr>
				<tr>
					<td style="border:1px solid black" class="text-left">No. dan Tgl. Surat :</td>
					<td style="border:1px solid black" class="text-left">No. Agenda :</td>
				</tr>
                <tr>
					<td colspan="2" style="border:1px solid black" class="text-left" width="100%">Isi singkat / Perihal :</td>
				</tr>
                <tr>
					<td style="border:1px solid black" class="text-left">Pengolah :</td>
					<td style="border:1px solid black" class="text-left">Paraf :</td>
				</tr>
                <tr>
					<td style="border:1px solid black" class="text-left">Alamat Aksi :</td>
					<td style="border:1px solid black" class="text-left">Informasi :</td>
				</tr>
                <tr>
					<td colspan="2" style="border:1px solid black" class="text-left" width="100%">Catatan :</td>
				</tr>

			</table>
			
		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->
	<!-- Footer -->
	<style>
		@media print {
			.copyright {
				display: none;
			}
		}

	</style>
	<!-- End of Footer -->

	</div>
	<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="https://eblkkediri.id/admin/auth/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

	<script src="https://eblkkediri.id/assets/vendor/sbadmin2/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- datepicker -->
	<link href="https://eblkkediri.id/assets/vendor/datepicker/css/datepicker.min.css" rel="stylesheet" type="text/css">
	<script src="https://eblkkediri.id/assets/vendor/datepicker/js/datepicker.min.js"></script>
	<script src="https://eblkkediri.id/assets/vendor/datepicker/js/i18n/datepicker.en.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="https://eblkkediri.id/assets/vendor/sbadmin2/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="https://eblkkediri.id/assets/js/sb-admin-2.min.js"></script>



	<script>
		$('.custom-file-input').on('change', function () {
			let fileName = $(this).val().split('\\').pop();
			$(this).next('.custom-file-label').addClass("selected").html(fileName);
		});

	</script>

	<script>
		$.fn.datepicker.language['en'] = {
			days: ['Ahad', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'],
			daysShort: ['Ah', 'Sen', 'Sel', 'Rab', 'Kam', 'Jum', 'Sab'],
			daysMin: ['Ah', 'Sen', 'Sel', 'Ra', 'Ka', 'Ju', 'Sa'],
			months: ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober',
				'November', 'Desember'
			],
			monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
			today: 'Today',
			clear: 'Clear',
			dateFormat: 'yyyy-mm-dd'
		};

	</script>

	<script>
		setTimeout(function () {
			if (alert('Session anda telah kedaluwarsa, halaman akan dimuat ulang!')) {} else window.location.reload();
		}, 7200000);

	</script>

</body>

</html>
